@using EStore.Web.Code
@if (!ViewData.ModelState.IsValid)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Ошибки!</strong> Найдены ошибки заполнения формы, пожалуйста проверьте правильность введенных данных
                <ul>
                    @foreach (var item in ViewData.ModelState)
                    {
                        <li>@item.Value.Errors.ErrorsToString()</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}