<div class="modal fade in images-search-modal" aria-hidden="false">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Поиск изображений</h4>
                </div>
                <div class="modal-body">
                    <div class="ttable">
                        <div class="trow">
                            <div class="tcell">
                                <div class="input-group">
                                    <input type="text" class="form-control search-term" placeholder="Поиск" value="">
                                    <div class="input-group-btn ">
                                        <button class="btn btn-primary search-img-btn-modal">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="trow">
                            <div class="tcell images-search-results">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn green ok-button" type="button">Выбрать</button>
                    <button class="btn red cancel-button" type="button">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
