@model List<EStore.BL.Models.Product.ProductCategoryItem>

<ul class="catalog-menu">
    @foreach (var item in Model)
    {
        <li class="mega-menu-submenu submenu-element">
            <ul>
                <li>
                    <h3>@item.Name</h3>
                </li>
                @foreach (var subItem in item.ChildCategories)
                {
                    <li>
                        <a href="/catalog/@(subItem.Id)">
                            <i class="fa fa-angle-right"></i>
                            @subItem.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

