.ttable {
    display: table;
    width: 100%;
    height: 100%;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
}

.grow {
    bottom: 0;
    height: 100%;
}

.validation-summary-errors {
    margin-top: 10px;
}

.page-logo {
    padding-left: 10px !important;
}

    .page-logo .logo-default {
        width: 133px;
        margin-top: 2px !important;
    }

table {
    table-layout: fixed !important;
}

    table th.actions {
        width: 100px !important;
        text-align: center;
        vertical-align: middle;
    }

    table td:last-of-type {
        text-align: center;
        vertical-align: middle !important;
    }

    table td {
        vertical-align: middle !important;
    }


    table .id-column {
        width: 100px !important;
    }


.note-editor {
    border: none !important;
}

    .note-editor .note-toolbar {
        border: none !important;
        background-color: transparent !important;
        padding-left: 0px !important;
    }

    .note-editor .note-editable {
        border: 1px solid rgb(229, 229, 229) !important;
        border-radius: 3px !important;
    }

.note-editable p {
    margin: 0px !important;
}

.note-editable {
    min-height: 100px;
}

.common-files-grid {
    position: relative;
}

    .common-files-grid .table-toolbar {
        position: absolute;
    }

    .common-files-grid .table td,
    .common-files-grid .table th {
        width: auto;
    }

.inline-edit-grid td:not(:first-of-type),
.inline-edit-grid th:not(:first-of-type) {
    width: auto !important;
}

.table-equal-columns-id-actions td:not(:first-of-type),
.table-equal-columns-id-actions th:not(:first-of-type) {
    width: auto !important;
}

.table-equal-columns-id-actions th:first-of-type {
    width: 100px !important;
}

.table-equal-columns-id-actions th:last-of-type {
    width: 100px !important;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
        width: 156px;
        height: 35px;
    }

.uploaded-image-preview {
    width: 100px;
}

.common-files-grid th.file-name {
    width: 200px !important;
}

.common-files-grid input[type='text'] {
    border: none;
    background: transparent;
}


#imgPreviewContainer {
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    z-index: 999;
    border: 1px solid lightgray;
}

.modal.item-picker .modal-dialog {
    width: auto !important;
    height: auto !important;
    margin: auto !important;
}

.modal.item-picker .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal.item-picker {
    top: 20px !important;
    right: 20px !important;
    left: 20px !important;
}


    .modal.item-picker table th {
        width: auto !important;
    }


        .modal.item-picker table th.id-column {
            width: 100px !important;
        }


        .modal.item-picker table th.actions {
            width: 100px !important;
        }

    .modal.item-picker table tbody td {
        cursor: pointer;
    }


    .modal.item-picker .table-toolbar {
        display: none;
    }

.inline-edit-grid table input[type='text'] {
    border: none;
    background-color: transparent;
    cursor: text;
}

.inline-edit-grid table .select-product-btn {
    display: none;
}

.inline-edit-grid table tr.edit-row input[type='text'] {
    cursor: auto !important;
    background-color: white;
    border: 1px solid #e5e5e5;
    cursor: text !important;
}

.inline-edit-grid table tr.edit-row .select-product-btn {
    display: inline-block !important;
}

.inline-edit-grid table tbody tr .btn.save,
.inline-edit-grid table tbody tr .btn.cancel {
    display: none;
}

.inline-edit-grid table tbody tr.edit-row .btn.save,
.inline-edit-grid table tbody tr.edit-row .btn.cancel {
    display: inline-block !important;
}

.inline-edit-grid table tbody tr.edit-row .btn.edit,
.inline-edit-grid table tbody tr.edit-row .btn.delete {
    display: none;
}



.inline-edit-grid td.actions,
.inline-edit-grid th.actions {
    width: 100px !important;
}



.search-results ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.search-results li {
    width: 200px;
    height: 240px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 16px;
    float: left;
}

.search-results img {
    max-width: 100%;
    max-height: 100%;
}

.search-results .tcell {
    vertical-align: middle !important;
    text-align: center !important;
}

.search-results .image-cell {
    height: 200px;
    border: 1px solid lightgray;
}

.search-results input[type='number'] {
    height: 32px;
    padding: 5px 10px;
    font-size: 13px;
    display: inline-block;
    width: 100px;
}

.search-results {
    width: 100% !important;
    display: inline-block !important;
    max-height: 500px;
    overflow-y: auto;
}

.images-search-results {
    padding-top: 16px !important;
}

.images-search-modal .modal-dialog {
    width: 700px !important;
}

.blockOverlay, .blockMsg {
    z-index: 9999999 !important;
}

.table th.is-main {
    width: 60px !important;
}

.image-link-item {
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.product-singles-grid thead th {
    width: auto !important;
}

.product-singles-grid table th.id-column {
    width: 100px !important;
}


.product-singles-grid table th.actions {
    width: 100px !important;
}

.product-singles-grid table tbody tr .btn.save,
.product-singles-grid table tbody tr .btn.cancel {
    display: none;
}

.product-singles-grid table tbody tr.edit-row .btn.save,
.product-singles-grid table tbody tr.edit-row .btn.cancel {
    display: inline-block !important;
}

.product-singles-grid table tbody tr.edit-row .btn.edit,
.product-singles-grid table tbody tr.edit-row .btn.delete {
    display: none;
}

.product-singles-grid tbody input[type='text'] {
    border: none;
    background-color: transparent;
    cursor: text;
}

.product-singles-grid tbody .edit-row input[type='text'] {
    border: 1px solid #e5e5e5;
    background-color: white;
    cursor: text;
}

.product-singles-grid tbody input[type='checkbox'] {
    pointer-events: none;
}

.product-singles-grid tbody .edit-row input[type='checkbox'] {
    pointer-events: all;
}

.product-singles-grid tbody select {
    border: none;
    pointer-events: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.product-singles-grid tbody .edit-row select {
    border: 1px solid #e5e5e5;
    pointer-events: all;
    background-color: white;
    -webkit-appearance: menulist;
}

.product-singles-grid .notes {
    height: 28px !important;
    line-height: 26px;
}

    .product-singles-grid .notes[contenteditable='true'] {
        font-size: 14px !important;
        font-weight: normal !important;
        color: #333 !important;
        background-color: #fff !important;
        border: 1px solid #e5e5e5 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
        padding: 5px 10px !important;
        height: auto !important;
        font-size: 13px !important;
        border-radius: 3px !important;
        max-height: 100px !important;
        overflow-y: auto;
        line-height: 1.42857143 !important;
    }
