
.ttable {
    display: table;
    width: 100%;
    height: 100%;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
}

.share-block {
    display: inline-block;
    margin-top: 10px;
}

.catalog-page .info-container .product-details-page .info-container {
    margin-top: 6px;
    display: inline-block;
}

.catalog-page .info-container .value .product-details-page .info-container .value {
    font-weight: bold;
    font-size: 22px;
}

.catalog-page .info-container .icon-container,
.product-details-page .info-container .icon-container {
    padding-right: 8px;
    display: inline-block;
}

    .catalog-page .info-container .icon-container i,
    .product-details-page .info-container .icon-container i {
        font-size: 20px;
        color: grey;
        display: inline-block;
    }

.catalog-page .info-container .info-text,
.product-details-page .info-container .info-text {
    font-size: 15px;
    white-space: nowrap;
}

.catalog-page .add-to-cart-container {
    margin-top: 17px;
}

.info-container.price .value {
    font-size: 30px;
}

.info-container.price i {
    font-size: 27px !important;
}

.catalog-page .price-block,
.product-details-page .price-block {
    white-space: nowrap;
}

#owl-demo .item {
    margin: 3px;
}

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }

    #owl-demo .item .tcell {
        vertical-align: middle !important;
    }

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -25px;
    top: 50%;
    margin-top: -11px;
    padding: 3px;
    border-radius: 2px;
    height: 23px;
    padding-top: 4px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -25px;
    top: 50%;
    margin-top: -11px;
    padding: 3px;
    border-radius: 2px;
    height: 23px;
    padding-top: 4px;
}

.product-details-page .main-img {
    margin-bottom: 17px;
}

.extra-info-well {
    background-color: #CCE6FC !important;
}

.product-details-page .add-to-cart-button {
    margin-top: 4px;
}

.product-info-portlet .nav-tabs {
    float: left !important;
}

.product-info-portlet .portlet-title > .nav-tabs > li > a {
    color: slategray !important;
}

.product-info-portlet .portlet-title > .nav-tabs > li.active > a {
    color: black !important;
}

.specifications-table {
    margin-bottom: 0px !important;
}

body .page-content {
    font-size: 14px;
}

.dashed-link {
    border-bottom: 1px dashed grey;
    cursor: pointer;
    text-decoration: none !important;
}

.submenu-element {
    list-style-type: none !important;
    width: 24% !important;
    vertical-align: top !important;
    display: inline-block !important;
}

.catalog-menu {
    padding-left: 0px !important;
}

.page-content ul {
    list-style-type: none !important;
}

.catalog-product-item .delivery {
    margin-top: 6px !important;
}

.catalog-product-item .avaliability {
    margin-top: 6px !important;
}

.catalog-product-item .img-thumbnail {
    width: 204px;
    height: auto;
}


.catalog-product-item .img-container {
    text-align: center !important;
}

.catalog-product-item .more-info-div {
    margin-top: 5px !important;
}

.catalog-product-item .caption {
    font-weight: bold !important;
}


#owl-demo .item {
    margin: 3px;
}

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -25px;
    top: 50%;
    margin-top: -11px;
    padding: 3px;
    border-radius: 2px;
    height: 23px;
    padding-top: 4px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -25px;
    top: 50%;
    margin-top: -11px;
    padding: 3px;
    border-radius: 2px;
    height: 23px;
    padding-top: 4px;
}

.product-details-page .main-img {
    margin-bottom: 17px;
}

.extra-info-well {
    background-color: #CCE6FC !important;
}

.product-details-page .add-to-cart-button {
    margin-top: 4px;
}

.product-info-portlet .nav-tabs {
    float: left !important;
}

.product-info-portlet .portlet-title > .nav-tabs > li > a {
    color: slategray !important;
}

.product-info-portlet .portlet-title > .nav-tabs > li.active > a {
    color: black !important;
}

.specifications-table {
    margin-bottom: 0px !important;
}

@media (min-width: 768px) {
}

.view-product-page .images-preview-block .main-img {
    height: 300px;
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

    .view-product-page .images-preview-block .main-img .tcell {
        vertical-align: middle;
        text-align: center;
        height: 300px;
    }

        .view-product-page .images-preview-block .main-img .tcell a {
            display: inline-block;
            text-align: center;
            max-height: 100%;
        }

    .view-product-page .images-preview-block .main-img .ttable {
        height: 300px !important;
    }

    .view-product-page .images-preview-block .main-img img {
        max-height: 300px !important;
    }


#owl-demo .item {
    margin: 3px;
    height: 100px !important;
}

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }

    #owl-demo .item .tcell {
        vertical-align: middle !important;
    }

#specs-tab table {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    direction: ltr;
    display: table;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 2089px;
    line-height: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    visibility: visible;
}

    #specs-tab table td {
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-collapse: collapse;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(221, 221, 221);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(221, 221, 221);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(221, 221, 221);
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        direction: ltr;
        display: table-cell;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        height: 37px;
        line-height: 20px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        text-align: left;
        vertical-align: middle;
        visibility: visible;
    }

        #specs-tab table td:first-of-type {
            width: 30% !important;
        }

.category-link {
    font-size: 17px !important;
}

.extra-info-well .no-data {
    font-size: 14px;
    margin-top: 8px;
    display: inline-block;
}

p.product-description {
    font-family: "Open Sans", sans-serif !important;
}

.cart-icon-cell {
    width: 42px;
    height: 42px;
}

    .cart-icon-cell > i {
        font-size: 26px;
        vertical-align: middle;
        display: inline-block;
        top: 9px;
    }

.cart-count {
    font-weight: bold;
    margin-top: -2px !important;
}

.total-cart-block {
    display: inline-block !important;
    font-weight: bold;
}

.products-label {
    color: black !important;
}

.total-amount-line {
    color: black !important;
}

.total-products-line {
    margin-bottom: 4px !important;
}

.cart-link {
    padding: 0px !important;
    color: #5e738b !important;
    display: inline-block !important;
    border-radius: 5px !important;
}

    .cart-link:hover {
        color: #5e738b !important;
        background-color: #FAFAFA !important;
    }

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-separator .separator {
    float: left !important;
    display: inline-block !important;
    width: 1px !important;
    height: 52px !important;
    margin-left: 5px !important;
    margin-top: 0px !important;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-separator {
    padding-left: 5px !important;
    padding-right: 9px !important;
}


.cart-link > .ttable {
    margin: 5px !important;
}

.cart-total-cell {
    vertical-align: middle !important;
}

.login-link {
    font-size: 16px;
}

.register-link {
    font-size: 12px;
}

.login-register-block > div {
    padding-top: 7px !important;
}

.empty-cart-label {
    display: none !important;
}

.empty-cart .empty-cart-label {
    display: inline-block !important;
}

.empty-cart .total-products-line {
    display: none !important;
}

.empty-cart .total-amount-line {
    display: none !important;
}

.add-to-cart-container .remove-from-cart-button {
    display: none;
}

.add-to-cart-container.in-cart .remove-from-cart-button {
    display: inline-block !important;
}

.add-to-cart-container.in-cart .add-to-cart-button {
    display: none !important;
}
