.ttable {
    display: table;
    width: 100%;
    height: 100%;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
}

.grow {
    bottom: 0;
    height: 100%;
}

.validation-summary-errors {
    margin-top: 10px;
}

.page-logo {
    padding-left: 10px !important;
}

    .page-logo .logo-default {
        width: 133px;
        margin-top: 2px !important;
    }

table {
    table-layout: fixed !important;
}

    table th.actions {
        width: 100px !important;
        text-align: center;
        vertical-align: middle;
    }

    table td:last-of-type {
        text-align: center;
        vertical-align: middle !important;
    }

    table td {
        vertical-align: middle !important;
    }

    table .id-column {
        width: 100px !important;
    }


.note-editor {
    border: none !important;
}

    .note-editor .note-toolbar {
        border: none !important;
        background-color: transparent !important;
        padding-left: 0px !important;
    }

    .note-editor .note-editable {
        border: 1px solid rgb(229, 229, 229) !important;
        border-radius: 3px !important;
    }

.note-editable p {
    margin: 0px !important;
}

.note-editable {
    min-height: 100px;
}

.product-images-grid {
    position: relative;
}

    .product-images-grid .table-toolbar {
        position: absolute;
    }

    .product-images-grid .table td,
    .product-images-grid .table th {
        width: auto;
    }

.table-equal-columns-id-actions td:not(:first-of-type),
.table-equal-columns-id-actions th:not(:first-of-type) {
    width: auto !important;
}

.table-equal-columns-id-actions th:first-of-type {
    width: 100px !important;
}

.table-equal-columns-id-actions th:last-of-type {
    width: 100px !important;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
        width: 156px;
        height: 35px;
    }

.uploaded-image-preview {
    width: 100px;
}

.product-images-grid th.file-name {
    width: 200px !important;
}

.product-images-grid input[type='text'] {
    border: none;
    background: transparent;
}


#imgPreviewContainer {
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    z-index: 999;
    border: 1px solid lightgray;
}

.modal.item-picker .modal-dialog {
    width: auto !important;
    height: auto !important;
    margin: auto !important;
}

.modal.item-picker .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal.item-picker {
    top: 20px !important;
    right: 20px !important;
    left: 20px !important;
}


    .modal.item-picker table th {
        width: auto !important;
    }


        .modal.item-picker table th.id-column {
            width: 100px !important;
        }


        .modal.item-picker table th.actions {
            width: 100px !important;
        }

         .modal.item-picker table tbody td{
             cursor: pointer;
         }


 .modal.item-picker .table-toolbar{
     display: none;
 }