@using EStore.BL.Utils
@model EStore.BL.Models.CheckOutModel

<h3>Оформление заказа</h3>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3">Способ доставки</label>
                                <div class="col-md-4">
                                    <label>
                                        <input type="radio" name="delivery-item" value="delivery"> Доставка
                                    </label>
                                    &nbsp;
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="delivery-item" value="self"> Самовывоз
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">Город</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Укажите город">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">Адрес доставки</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Укажите адрес доставки">
                                    <span class="help-block"> Например улица Власова 4, корпус 3, строение 5, квартира 7 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>