@using EStore.BL.Utils
@model EStore.BL.Models.CartPageModel

@{
    ViewBag.Title = "Корзина покупок";
    ViewBag.PageTitle = "Корзина покупок";
    ViewBag.PageSmallTitle = "Список товаров в корзине";
}

@section Styles
{
    <!-- styles -->
    <link href="/Content/assets/global/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/Content/assets/global/plugins/owl.carousel/assets/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/Content/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css">

}

@section Scripts
{
    <!-- scripts -->
    <script src="~/Content/assets/global/plugins/owl.carousel/owl.carousel.js"></script>
    <script src="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.js"></script>
    <script src="~/Content/assets/global/plugins/accounting.js"></script>
    <script src="~/Scripts/public/cart/cart-page.js"></script>
}


<div class="cart-items-page">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">Главная</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Корзина покупок
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="row">
        <div class="col-md-12">
            @if (Model.Products.Any())
            {
                @Html.Partial("~/Views/Public/Cart/CartItems.cshtml")
                @Html.Partial("~/Views/Public/Cart/Checkout.cshtml")
            }
            else
            {
                <h4 class="text-center">
                    В вашей корзине нет товаров, для добавления товара выберите его из
                    <a href="/catalog"><strong>каталога</strong></a>
                </h4>
            }
        </div>
    </div>

</div>