@Html.Partial("~/Views/_Common/EditDeleteTableActions.cshtml")

<a class="save btn default btn-xs green action-button" href="javascript:;">
    <i class="fa fa-save"></i>
</a>
<a class="cancel btn default btn-xs red action-button" href="javascript:;">
    <i class="glyphicon glyphicon-remove"></i>
</a>
