<a title="edit" class="edit btn default btn-xs blue" href="javascript:;">
    <i class="fa fa-edit"></i>
</a>
<a title="delete" class="delete btn default btn-xs red" href="javascript:;">
    <i class="fa fa-trash-o"></i>
</a>