<div class="modal fade in confirm-modal" aria-hidden="false">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Подтверждаете удаление?</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены что хотите удалить объект?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn red cancel-button" type="button">Нет</button>
                    <input class="btn green ok-button" type="submit" value="Да">
                </div>
            </div>
        </div>
    </div>
</div>