@using System.Web.Mvc
@using EStore.BL.Services
@using Newtonsoft.Json


@helper ItemPicker(MvcHtmlString htmlString, string modalClass)
{
    <div class="modal fade in @modalClass item-picker" aria-hidden="false">
        <div class="modal-backdrop fade in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Выберите товар</h4>
                    </div>
                    <div class="modal-body">
                        @htmlString
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@helper IsActiveMainMenu(string url, ViewContext viewContext)
{
if (url == "/" && viewContext.HttpContext.Request.Path == "/")
{
        <text>active</text>
}

if (viewContext.HttpContext.Request.Path.TrimStart("/".ToCharArray()).StartsWith(url))
{
        <text>active</text>
}
}

@helper RenderAddToCartBtn(long productId)
{
    <div data-product-id="@productId"
         class="add-to-cart-container @(UserInfo.Cart.Any(x=>x.ProductId == productId) ? "in-cart": "")">
        <span data-container="body" data-placement="bottom" data-html="true" data-original-title="Убрать из корзины"
              class="btn btn-success remove-from-cart-button tooltips">
            <i class="fa fa-check"></i>
            В корзине
        </span>
        <span data-container="body" data-placement="bottom" data-html="true"
              data-original-title="Добавить в корзину"
              class="btn btn-warning add-to-cart-button tooltips">
            <i class="fa fa-shopping-cart"></i>
            В корзину
        </span>
    </div>
}